@model WebApp.Models.Device

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form method="post" enctype="multipart/form-data"  >
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Device</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DeviceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="DeviceName" class="form-control "" />
                @Html.ValidationMessageFor(model => model.DeviceName, "", new { @class = "text-danger" })
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="img" class="form-control" />
                @Html.ValidationMessageFor(model => model.img , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> category</label>
            <div class="col-md-10">

                <select name="cat_id" class="form-select ">
                    @foreach (WebApp.Models.Category item in ViewBag.category)
                    {
                        if (item != null)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> discraption</label>
            <div class="col-md-10">

                <textarea rows="3" class=" form-control" name="description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="Create" class="btn btn-primary m-3 w-25 p-2" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
